<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobochang.warehouse.mapper.BusLogMapper">

    <resultMap id="BaseResultMap" type="com.bobochang.warehouse.domain.BusLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="busName" column="bus_name" jdbcType="VARCHAR"/>
            <result property="busDescrip" column="bus_descrip" jdbcType="VARCHAR"/>
            <result property="operPerson" column="oper_person" jdbcType="VARCHAR"/>
            <result property="operTime" column="oper_time" jdbcType="TIMESTAMP"/>
            <result property="ipFrom" column="ip_from" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,bus_name,bus_descrip,
        oper_person,oper_time,ip_from
    </sql>
</mapper>
