<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobochang.warehouse.mapper.BuyListMapper">

    <resultMap id="BaseResultMap" type="com.bobochang.warehouse.entity.BuyList">
            <id property="buyId" column="buy_id" jdbcType="INTEGER"/>
            <result property="materialId" column="material_id" jdbcType="INTEGER"/>
            <result property="storeId" column="store_id" jdbcType="INTEGER"/>
            <result property="buyNum" column="buy_num" jdbcType="INTEGER"/>
            <result property="factBuyNum" column="fact_buy_num" jdbcType="INTEGER"/>
            <result property="buyTime" column="buy_time" jdbcType="TIMESTAMP"/>
            <result property="buyUser" column="buy_user" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="contractId" column="contract_id" jdbcType="INTEGER"/>
            <result property="isIn" column="is_in" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        buy_id,material_id,store_id,
        buy_num,fact_buy_num,buy_time,
        buy_user,phone,contract_id,
        is_in
    </sql>
</mapper>
