<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobochang.warehouse.mapper.CheckinMapper">

    <resultMap id="BaseResultMap" type="com.bobochang.warehouse.entity.Checkin">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="country" column="country" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="district" column="district" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="risk" column="risk" jdbcType="INTEGER"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,address,
        country,province,city,
        district,status,risk,
        date,create_time
    </sql>

    <!--  判断日期之间是否有签到记录-->
    <select id="haveCheckin" parameterType="HashMap" resultType="Integer">
        SELECT id
        FROM checkin
        WHERE user_id = #{userId} AND date = CURRENT_DATE
          AND create_time BETWEEN #{start} AND #{end}
        LIMIT 1;
    </select>

    <!--  查询用户当天的签到情况 CURRENT_DATE是数据库当前时间-->
    <select id="searchTodayCheckin" parameterType="int" resultType="HashMap">
        SELECT
            u.user_name,
            CASE
                WHEN ck.status=1 THEN '正常'
                WHEN ck.status=2 THEN '迟到'
                END as status,
            CASE
                WHEN ck.risk=1 THEN '低风险'
                WHEN ck.risk=2 THEN '中风险'
                WHEN ck.risk=3 THEN '高风险'
                END as risk,
            DATE_FORMAT(ck.create_time, "%Y年%m月%d日 %H:%i:%s") AS checkinDateTime,
            ck.date
        FROM user_info u
                 LEFT JOIN checkin ck ON u.user_id=ck.user_id AND ck.date=CURRENT_DATE
        WHERE u.user_id=#{userId} AND u.user_state=1 AND u.is_delete=0
    </select>

    <!--  查询用户签到的总天数-->
    <select id="searchCheckinDays" parameterType="int" resultType="long">
        SELECT COUNT(*) AS count
        FROM checkin
        WHERE user_id=#{userId}
    </select>

    <!--  查询用户所有的考勤记录-->
    <select id="searchAllCheckin" parameterType="int" resultType="HashMap">
        SELECT
            CAST(date AS CHAR) AS date,
            IF(status=1,"正常","迟到") AS status
        FROM checkin
        WHERE user_id=#{userId}
    </select>

    <!--  查询用户一段时间内的考勤情况-->
    <select id="searchWeekCheckin" parameterType="HashMap" resultType="HashMap">
        SELECT
            CAST(date AS CHAR) AS date,
            IF(status=1,"正常","迟到") AS status
        FROM checkin
        WHERE user_id=#{userId}
          AND date BETWEEN #{startDate} AND #{endDate}
    </select>

    <!--  添加签到数据-->
    <insert id="insert" parameterType="com.bobochang.warehouse.entity.Checkin">
        INSERT INTO checkin
        SET user_id=#{userId},
        <if test="address!=null">
            address=#{address},
        </if>
        <if test="country!=null">
            country=#{country},
        </if>
        <if test="province!=null">
            province=#{province},
        </if>
        <if test="city!=null">
            city=#{city},
        </if>
        <if test="district!=null">
            district=#{district},
        </if>
        status=#{status},
        <if test="risk!=null">
            risk=#{risk},
        </if>
        date=#{date},
        create_time=#{createTime}
    </insert>

    <select id="selectCheckinCount" resultType="integer">
        select count(*) from checkin
    </select>

    <!--
        // 分页查询合同
        public List<Contract> selectContractPage(@Param("page")Page page, @Param("contract")Contract contract);
    -->
    <select id="selectCheckinPage" resultType="HashMap">
        SELECT c.user_id as userId, u.user_name as userName, COUNT(c.user_id) as attendanceDays
        FROM checkin c
        JOIN user_info u ON c.user_id = u.user_id
        <where>
            <if test="page.userName != null and page.userName != ''">
                AND u.user_name like concat('%', #{page.userName}, '%')
            </if>
            <if test="page.startDate != null and page.startDate != ''">
                AND DATE(c.date) &gt;= DATE(#{page.startDate})
            </if>
            <if test="page.endDate != null and page.endDate != ''">
                AND DATE(c.date) &lt;= DATE(#{page.endDate})
            </if>
        </where>
        GROUP BY c.user_id
        LIMIT #{page.limitIndex}, #{page.pageSize}
    </select>
</mapper>
