<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobochang.warehouse.mapper.FlowMapper">
  <!-- 新增 -->
  <insert id="insertFlow">
    insert into flow
    (instance_id, contract_id, purchase_id, in_store_id, out_store_id, state, create_time)
    values (#{instanceId}, #{contractId}, #{purchaseId}, #{inStoreId}, #{outStoreId},#{state}, now())
  </insert>

  <update id="updateFlow" >
    update flow
    set purchase_id =#{purchaseId},
        in_store_id = #{inStoreId},
        out_store_id =#{outStoreId}
    where instance_id = #{instanceId}
  </update>

  <select id="selectByInstanceId" parameterType="java.lang.String" resultType="java.lang.String">
    select contract_id from flow
    where instance_id = #{instanceId}
  </select>

<!--  &lt;!&ndash; 根据用户名查询数据 &ndash;&gt;-->
<!--  <select id="getByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">-->
<!--    select *-->
<!--    from t_flow-->
<!--    where username = #{username}-->
<!--  </select>-->

<!--  &lt;!&ndash; 查询所有流程 &ndash;&gt;-->
<!--  <select id="findAllFlow" resultMap="BaseResultMap">-->
<!--    select *-->
<!--    from t_flow-->
<!--    order by create_time desc-->
<!--  </select>-->

<!--  &lt;!&ndash; 根据流程id查询 &ndash;&gt;-->
<!--  <select id="findOneFlow" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
<!--    select *-->
<!--    from t_flow-->
<!--    where id = #{id}-->
<!--  </select>-->

</mapper>